<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon"
    href="https://yt3.googleusercontent.com/UXFC9eFKxjbOcUeEiIFqpywdInXJijIrh5bkfUMPlKhCLKaO6rrTfh5O5IzNTS_2Wap2yBk1J44=s900-c-k-c0x00ffffff-no-rj">
  <title>Vue Boolzapp</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div id="app" class="container">
    <div class="sidebar">
      <div class="header">
        <h5>Nome Utente</h5>
        <input type="text" placeholder="Cerca o inizia una nuova chat">
      </div>
      <ul class="contact-list">
        <li v-for="(contact, index) in contacts" :key="index" class="contact" @click="selectContact(index)">
          <img :src="contact.avatar" alt="avatar" class="avatar">
          <div>
            <h6>{{ contact.name }}</h6>
            <p>Ultimo messaggio: {{ contact.messages[contact.messages.length - 1].message }}</p>
          </div>
        </li>
      </ul>
    </div>

    <div v-if="selectedContact" class="chat">
      <div class="chat-header">
        <img :src="selectedContact.avatar" alt="avatar" class="avatar">

        <div>
          <h6>{{ selectedContact.name }}</h6>
          <p v-if="selectedContact.messages.length > 0">Ultimo accesso: {{
            selectedContact.messages[selectedContact.messages.length - 1].date }}</p>
          <p v-else>Ancora nessun messaggio.</p>
        </div>
      </div>

      <div class="chat-body">
        <div v-for="(message, index) in selectedContact.messages" :key="index" class="message"
          :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
          <p>{{ message.message }}</p>
          <small>{{ message.date }}</small>
        </div>
      </div>

      <div class="chat-footer">
        <input type="text" placeholder="Scrivi un messaggio">
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/script.js"></script>
</body>

</html>