<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Boolzapp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div id="app" class="container">
    <!-- Contenitore principale dell'applicazione -->
    <div class="sidebar">
      <!-- Sidebar a sinistra con l'header e la lista dei contatti -->
      <div class="header">
        <div class="user">
          <img src="./img/avatar_io.png" alt="avatar" class="avatar">
          <h5>Sofia</h5>
        </div>

        <!-- Contenitore delle icone a destra -->
        <div class="header-icons">
          <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
          <a href="#"><i class="fa-solid fa-message"></i></a>
          <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </div>

      </div>

      <!-- Notifiche -->
      <div class="notifications">
        <i class="fa-regular fa-bell-slash"></i>
        <div class="notifications-content">
          <p>Ricevi notifiche di nuovi messaggi</p>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>


      <!-- Barra di ricerca -->
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" v-model="nameSearch" placeholder="Cerca o inizia una nuova chat">
      </div>

      <!-- Lista contatti -->
      <ul class="contact-list">
        <li v-for="(contact, index) in filteredContacts" :key="index" class="contact" @click="selectContact(index)">
          <img :src="contact.avatar" alt="avatar" class="avatar">
          <div>
            <h6>{{ contact.name }}</h6>
            <p>Ultimo messaggio: {{ contact.messages[contact.messages.length - 1].message }}</p>
          </div>
        </li>
      </ul>
    </div>

    <div v-if="selectedContact" class="chat">
      <!-- Header della chat -->
      <div class="chat-header">
        <img :src="selectedContact.avatar" alt="avatar" class="avatar">
        <div class="header-info">
          <h6>{{ selectedContact.name }}</h6>
          <p v-if="selectedContact.messages.length > 0">Ultimo accesso: {{
            selectedContact.messages[selectedContact.messages.length - 1].date }}</p>
          <p v-else>Ancora nessun messaggio.</p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>


      <!-- Corpo della chat -->
      <div class="chat-body">
        <div v-for="(message, index) in selectedContact.messages" :key="index" class="message"
          :class="{'sent': message.status === 'sent', 'received': message.status === 'received', 'active': activeMessageIndex === index}"
          @click="toggleDropdown(index)">

          <p>{{ message.message }}</p>
          <small>{{ formatDate(message.date) }}</small>

          <!-- Icona del menù -->
          <span class="menu-icon">⋮</span>

          <!-- Menù a tendina -->
          <div class="dropdown-menu">
            <p>Info messaggio: {{ formatDate(message.date) }}</p>
            <button @click.stop="deleteMessage(index)">Elimina</button>
          </div>
        </div>
      </div>


      <!-- Footer della chat -->
      <div class="chat-footer">
        <i class="fa-regular fa-face-smile" @click="showEmojiPicker = !showEmojiPicker"></i>
        <input type="text" v-model="newMessage" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage">
        <i class="fa-solid fa-microphone"></i>
      </div>
      <!-- Emoji Picker -->
      <div v-if="showEmojiPicker" class="emoji-picker">
        <div v-for="emoji in emojis" :key="emoji" @click="addEmoji(emoji)">
          {{ emoji }}
        </div>
      </div>

    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.2.0/luxon.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>